@page
@model BookReader.Pages.Categories.DetailsModel

@{
    ViewData["Title"] = "Szczegóły";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Szczegóły</h1>

<div>
    <h4>Kategoria</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Category.CategoryID">Edytuj</a> |
    <a asp-page="./Index">Wróć do listy</a>
</div>
