@page
@model BookReader.Pages.IndexModel
@{
    ViewData["Title"] = "Strona domowa";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <p>Jesteś w wirtualnym spisie swoich książek. Możesz dodawać nowe pozycje, edytować je oraz usuwać.</p>
    <p>Liczymy, że zostaniesz z nami na dłużej!</p>
</div>
