@page
@model BookReader.Pages.LoginModel
@{
}
<body class="text-center" style="height:100%">
    <form style="width:100%; max-width:330px; padding:15px; margin:auto">
        <h1 class="font-weight-normal">Zaloguj się</h1>
        <input type="email" id="inputEmail" class="form-control rounded-top" placeholder="Adres Email" />
        <input type="password" id="inputPassword" class="form-control rounded-bottom" placeholder="Hasło" />
        <button class="btn btn-secondary" type="submit">Zaloguj</button>
    </form>
</body>